
<div class="footer">
    <div class="footer-container">
        <ul class="left-side">
            <li class="footer-item">
                <p>© 2025 | Developed and Designed by Jia Xian | Angular v19</p>
            </li>
        </ul>

        <ul class="right-side">
            <li class="footer-item">
                <a class="footer-link" href="https://www.linkedin.com/in/jxian/" target="_blank">
                    <img src="image/linkedin.png" alt="linkedin logo">
                </a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="https://github.com/jx-ian" target="_blank">
                    <img src="image/github.png" alt="github logo">
                </a>
            </li>
            <!-- <li class="footer-item">
                <a class="footer-link" href="" target="_blank">link</a>
            </li> -->
        </ul>
    </div>
</div>