
<div class="footer-container">
    <ul class="left-side col-xs">
        <li class="footer-item1">
            <p>© 2025 | Developed and Designed by Jia Xian | Angular v19</p>
        </li>
    </ul>

    <ul class="right-side col-xs">
        <li class="footer-item1">
            <a class="footer-link" href="">link</a>
        </li>
        <li class="footer-item1">
            <a class="footer-link" href="">link</a>
        </li>
        <li class="footer-item1">
            <a class="footer-link" href="">link</a>
        </li>
    </ul>
</div>
