<div class="about-page">
    <div class="home-container">
        <!-- <div class="photo">
            <img src="https://robohash.org/mail@ashallendesign.co.uk" alt="Avatar">
        </div> -->

        <div class="about-container">
            <h1 class="title">About Me</h1>
                <p class="description">
                    I am a passionate developer currently obtained my Bachelor's of Science degree in Computer Science at Roosevelt University. I thrive at the intersection of creativity and logic, 
                    building solutions that are as functional as they are engaging.
                    I design and build robust applications, from sleek web apps to scalable backend systems.
                    I am a firm believer in the power of collaboration and continuous learning. I enjoy working with teams to tackle complex challenges and create innovative solutions.
                    I am always eager to learn new technologies and methodologies, and I am particularly interested in areas like AI, machine learning, and cloud computing.
                    I am always looking for opportunities to expand my skill set and stay up-to-date with the latest industry trends.
                    Whether I’m coding, debugging, or brainstorming, I approach every task with enthusiasm and a problem-solving mindset.
                    I am passionate about creating software that not only meets user needs but also exceeds expectations.
                    I am always looking for new challenges and opportunities to grow as a developer.
                    I am deeply committed to expanding my skills in both foundational and cutting-edge tech.
                </p>
                <p class="description">
                    I am always excited to discuss tech, collaborate on projects, or brainstorm ideas. Reach out to me and let’s build something awesome together!
                </p>
        </div>
</div>
</div>