<!-- <div class="navigation-container sticky-top"> -->
    <div class="navigation-container">
    <nav class="navbar-container">

        <!-- LEFT SIDE NAV -->
        <ul class="left-side">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/jx-ian" target="_blank">jxian</a>
            </li>
        </ul>

        <!-- RIGHT SIDE NAV -->
        <ul class="right-side">
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="/home" routerLinkActive="active-route">Home</a> -->
                 <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="/about" routerLinkActive="active-route">About</a> -->
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-route">Portfolio</a> -->
                <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="/contact" routerLinkActive="active-route">Contact</a> -->
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>

        <!-- COLLAPSE NAV -->
        <div class="collapse-container">
            <nav class="collapse-navbar">
        
                <!-- NAV BAR WHEN COLLAPSED -->
                <div class="collapse-navbar-menu">
                    <ul class="collapse-left-side">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/jx-ian" target="_blank">jxian</a>
                        </li>
                    </ul>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-expanded="false" aria-controls="collapsibleNavbar">
                        <span class="navbar-toggler-icon">?</span>
                    </button>
                    
                </div>

                <!-- HAMBURGER MENU WHEN CLICKED-->
                <div class="collapse" id="collapsibleNavbar">
                    <ul class="collapse-right-side">
                        <li class="nav-item">
                            <!-- ROUTER OUTLET -->
                            <!-- <a class="nav-link" routerLink="/home" routerLinkActive="active-route" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">Home</a>  -->
                            
                            <!-- DOES NOT WORK - COLLAPSE CONFLICTS WITH href="#section" ON NAVBAR LINKS -->
                            <!-- <a class="nav-link" href="#home" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">Home</a> -->

                            <!-- WORKS - ADDED TS FUNCTION TO COLLAPSE AND SCROLL -->
                            <a class="nav-link" href="#home" (click)="collapseAndScroll($event, 'home')">Home</a>
                            
                        </li>
                        <li class="nav-item">
                            <!-- ROUTER OUTLET  -->
                            <!-- <a class="nav-link" routerLink="/about" routerLinkActive="active-route" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">About</a> -->
                            
                            <!-- DOES NOT WORK - COLLAPSE CONFLICTS WITH href="#section" ON NAVBAR LINKS -->
                            <!-- <a class="nav-link" href="#about" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">About</a> -->

                            <!-- WORKS - ADDED TS FUNCTION TO COLLAPSE AND SCROLL -->
                            <a class="nav-link" href="#about" (click)="collapseAndScroll($event, 'about')">About</a>
                        </li>
                        <li class="nav-item">
                            <!-- ROUTER OUTLET -->
                            <!-- <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-route" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">Portfolio</a> -->
                            
                            <!-- DOES NOT WORK - COLLAPSE CONFLICTS WITH href="#section" ON NAVBAR LINKS -->
                            <!-- <a class="nav-link" href="#portfolio" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">Portfolio</a> -->
                             
                            <!-- WORKS - ADDED TS FUNCTION TO COLLAPSE AND SCROLL -->
                            <a class="nav-link" href="#portfolio" (click)="collapseAndScroll($event, 'portfolio')">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <!-- ROUTER OUTLET -->
                            <!-- <a class="nav-link" routerLink="/contact" routerLinkActive="active-route" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">Contact</a> -->
                            
                            <!-- DOES NOT WORK - COLLAPSE CONFLICTS WITH href="#section" ON NAVBAR LINKS -->
                            <!-- <a class="nav-link" href="#contact" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">Contact</a> -->

                            <!-- WORKS - ADDED TS FUNCTION TO COLLAPSE AND SCROLL -->
                            <a class="nav-link" href="#contact" (click)="collapseAndScroll($event, 'contact')">Contact</a>
                        </li>
                    </ul>
                </div>
        
            </nav>
        </div>
        
    </nav>
</div>