/* HOME COMPONENT STYLES */
.home-container {
    /* background-color: #cccccc; */
    background: linear-gradient(to right,#0f172a, #1e3a8a);
}

.main-container {
    /* background-color: orange; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;    
    width: 100%;
    max-width: 2850px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

/* H1 TEXT */
.name-container h1 {
    font-size: 90px;
    font-weight: bold;
    display: inline-block;
}

/* H2 TEXT */
.name-container h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

.main-container p {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.main-container span {
    font-size: 80px;
    font-weight: bold;
}

.description-container {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 649px){
    .name-container h1 {
        font-size: 65px;
    }

    .name-container h2 {
        font-size: 35px;
    }

    .main-container p {
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .main-container span {
        font-size: 50px;
    }

    .description-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main-container {
    animation: fadeIn 1.5s ease-in-out;
}