
<div class="home-container col-12">
     <div class="main-container">
        <div class="name-container col-sm-12">
                <h1>J<span>IA</span> X<span>IAN</span></h1>
                <h2> Entry Level Developer</h2>  
        </div>
        <div class="description-container col-lg-12">
                <p> I am a student at Roosevelt University pursuing a bachelor's degree in Computer Science. I am passionate about software development and I am looking for opportunities to grow and learn. </p>
        </div>     
        </div>
</div>
