<div class="home-container">
        <div class="main-container">
                <div class="name-container ">
                        <h1>Hi, I'm <h1>J</h1><span>IA</span>&nbsp;X<span>IAN</span></h1>
                        <h2> Entry Level Developer</h2>
                </div>
                <div class="description-container">
                        <p>
                                Bachelor's of Science in Computer Science from Roosevelt University.
                                Passionate about software development,
                                looking for opportunities to grow and learn.
                        </p>
                </div>
        </div>
</div>